<!DOCTYPE html>
<html>

<head>
	<title> Email Verified</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body class="linear-background">
	<%- include('top') %>
	<div class="verification_box">
		<h2 class="heading_text padding-top-40 no-margin">Email Verified</h2>
		<form action="/resendOTPMobile" method="post">
			<div class="row margin-auto width-80-percent">
				<h3 class="general_text">Email is verified. Press the below button to resend OTP to mobile</h3>
				<input type="submit" class="general_btn align-center" id="submitDetails" name="submitDetails" value="Resend OTP" />
				<div class="general-Links">
					<a class="link-text padding-left-right-20" href="/">Exit</a>
					<a class="link-text padding-left-right-20" href="/sign_up">Back</a>
				</div>
			</div>
		</form>
	</div>	
	<%- include('bottom') %>
</body>

</html>