<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Signup Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%- include('top') %>
	<div class="container-fluid signup-background" style="margin-top: 40px;">
		<div class="container">
			<h2 class="heading_text" data-aos="fade-up" style="padding-top: 40px;">Sign Up</h2>
			<div class="row">
				<div class="center-form">
					<form action="/sign_up" method="post">
						<div class="form-group has-feedback">
							<input class="general-input form-control" type="text" name="firstName" id="firstName" placeholder="First Name*"
							value="<%= user.firstName %>" required />
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-user icon"></span>
							<% if(validationErrors.firstName){ %>
								<div class="general_text error-text"><%= validationErrors.firstName %></div>
							<% } %>		
						</div>
						<div class="form-group has-feedback margin-top-20">
							<input class="general-input form-control" type="text" name="lastName" id="lastName" placeholder="Last Name*" 
							value="<%= user.lastName %>" required />	
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-user icon"></span>
							<% if(validationErrors.lastName){ %>
								<div class="general_text error-text"><%= validationErrors.lastName %></div>
							<% } %>	
						</div>
						<div class="form-group has-feedback margin-top-20">
							<input class="general-input form-control" type="tel" name="mobile" id="mobile" pattern="[0-9]+" value="<%= user.mobile %>"
							title="Only numbers allowed" placeholder="Mobile Number With Country Code*" required />
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-phone icon"></span>
							<% if(validationErrors.mobile){ %>
								<div class="general_text error-text"><%= validationErrors.mobile %></div>
							<% } %>	
						</div>
						<div class="form-group has-feedback margin-top-20">
							<input class="general-input form-control" type="tel" name="mobileConfirm" id="mobileConfirm" pattern="[0-9]+" value="<%= user.mobileConfirm %>"
							title="Only numbers allowed" placeholder="Confirm Mobile Number*" required />
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-phone icon"></span>
							<% if(validationErrors.mobileConfirm){ %>
								<div class="general_text error-text"><%= validationErrors.mobileConfirm %></div>
							<% } %>		
						</div>
						<div class="form-group has-feedback margin-top-20">
							<input class="general-input form-control" type="email" name="email" id="email" placeholder="Email*" 
							value="<%= user.email %>" required />	
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-envelope icon"></span>
							<% if(validationErrors.email){ %>
								<div class="general_text error-text"><%= validationErrors.email %></div>
							<% } %>	
						</div>
						<div class="form-group has-feedback margin-top-20">
							<input class="general-input form-control" type="email" name="emailConfirm" id="emailConfirm" placeholder="Confirm Email*" 
							value="<%= user.emailConfirm %>" required />	
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-envelope icon"></span>
							<% if(validationErrors.emailConfirm){ %>
								<div class="general_text error-text"><%= validationErrors.emailConfirm %></div>
							<% } %>	
						</div>
						<div class="form-group has-feedback margin-top-20">
							<input class="general-input form-control" type="text" name="license" id="license" pattern="[a-zA-Z0-9]+"
							value="<%= user.license %>" title="Only alphabets and numbers allowed" placeholder="License " />
							<span style="position:absolute; right:8px;top:8px;" class="fa fa-id-card icon"></span>
							<% if(validationErrors.license){ %>
								<div class="general_text error-text"><%= validationErrors.license %></div>
							<% } %>		
						</div>
						<select class="form-control margin-top-20" data-style="btn-info" name="clanName" id="clanName">
							<optgroup>
								<option value="">Select Clan Name</option>
								<% clanNames.forEach(function(clanName){ %>
								<option value="<%= clanName %>" 
									<% if(user.clanName == clanName ){ %>
									selected="<%= user.clanName %>"
									<% } %>
									><%= clanName %></option>
								<% }) %>
							</optgroup>
						</select>
						<div class="captcha-container captcha margin-top-50">
							<div class="captcha-center g-recaptcha" data-sitekey="<%= captcha_sitekey %>"></div>
						</div>
						<% if(validationErrors.captcha){ %>
							<div class="general_text error-text" style="text-align: center;"><%= validationErrors.captcha %></div>
						<% } %>
						
						<input type="submit" class="general_btn align-center margin-top-20 margin-bottom-50" id="submitDetails" name="submitDetails" value="Sign Up" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<%- include('bottom') %>	
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>