<!doctype html>
<html lang="en">

<head>
	<title> Signup Success</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="linear-background">
	<%- include('top') %>
	<div class="verification_box">
		<h2 class="heading_text padding-top-40">Signup Successfull</h2>
		<div class="general-Links">
			<a class="link-text" href="/">Exit</a>
		</div>
	</div>
	<%- include('bottom') %>
</body>

</html>