<!doctype html>
<html lang="en">

<head>
	<title> Verification Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="linear-background">
	<%- include('top') %>
	<div class="verification_box">
		<h2 class="heading_text padding-top-40">Email Verification</h2>
		<form action="/verifyEmail" method="post">
			<div class="row margin-auto width-80-percent">
				<label class="general_text" for="verificationCode">Enter Code sent to registered email</label>
				<div class="form-group has-feedback">
					<input class="general-input form-control" type="text" name="verificationCode" id="verificationCode" title="Only numbers allowed"
					placeholder="Verification Code*" minlength="4" maxlength="10" pattern="[0-9]+" required />
					<span style="position:absolute; right:8px;top:8px;" class="fa fa-lock icon"></span>
					<% if(OTPMessage){ %>
						<div class="general_text error-text"><%= OTPMessage %></div>
					<% } %>	
				</div>
				<input type="submit" class="general_btn align-center" id="submitDetails" name="submitDetails" value="Submit" />
				<div class="general-Links">
					<a class="link-text padding-left-right-20" href="/">Exit</a>
					<a class="link-text padding-left-right-20" href="/sign_up">Back</a>
				</div>
			</div>
		</form>
	</div>	
	<%- include('bottom') %>


	
</body>

</html>