.signup-background {
  background-color: #E5EDF4;
}

.linear-background {
  background: linear-gradient(90deg,#6499be 0,#c4d7e8 100%);
}

.logo-background {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1030;
}

.align-center {
  display: block;
  margin: auto;
}

.no-margin {
  margin: 0px !important;
}

.margin-top-20 {
  margin-top: 20px!important;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-auto {
  margin: auto!important;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-left-right-20 {
  padding: 0px 20px;
}

.height-60 {
  height: 60px!important;
}

.width-80-percent {
  width: 80%;
}

.general_btn{
    text-align: center;
    border-radius: 6px;
    background-color: #2a78ad;
    color: #fff;
    border: 0;
    letter-spacing: 1.58px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    padding: 0;
    font-weight: 600;
    line-height: 36px;
    width: 132px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general_text{
    font-weight: 400;
    font-family: "Source Sans Pro";
    letter-spacing: 0.72px;
    color: #131516;
    font-size: 18px;
    line-height: 25px;
}


.heading_text {
    color: #253e60;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.83px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-text {
  font-weight: 400;
  margin-top: 30px;
  color: #131516;
  font-family: "Source Sans Pro";
  font-size: 14px;
  letter-spacing: 0.47px;
  line-height: 17px;
  text-align: center;
}

.link-text {
    width: 100%;
    color: #005493;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: "Source Sans Pro"
}

.error-text {
  color: red;
}

.general-Links {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center
}

.general-input {
  position:relative;
}

.icon{
  color: #365A8A;
}

.center-form{
  margin: 0 auto; 
  width:47%;
}

.captcha-container {
  height: 60px;
  position: relative;
}

.captcha-center {
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline;
  position: absolute;
}

.verification_box {
  margin: auto;
  margin-top: 100px;
  width: 40%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.21);
}
